#dgSpinner {
    width: 28px;height: 28px;
    -webkit-animation: sweep 1s infinite linear;
    border-radius: 80px;
    border-bottom: 4px solid #333;
    z-index: 9999;
    position: absolute;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }

#admin-menu {
    background-color: black;
    color: #ccc;
}
#admin-menu ul {
    min-height: 32px;
    font-size: 0.8em;
    font-family: sans-serif;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0px;
}
#admin-menu ul li {
    float: left;
    list-style-type: none;
    min-height: 24px;
    padding: 1em;
    padding-top: 0.65em;
    padding-bottom: 0em;
    max-height: 24px;
}
#admin-menu ul li {
    border-right: 1px dotted #999;
}
#admin-menu ul li.first {
    border: none;
    padding: 0em;
    margin: 0em;
}
#admin-menu ul li.last {
    border-left: none;
}
#admin-menu ul li a {
    color: white;
    text-decoration: none;
}
#admin-menu ul li a:hover {
    color: #eee;
    text-decoration: underline;
}
#admin-menu img {
    max-height: 32px;
}