cordova*js
app/modules/*
app/themes/*
app/settings.js
app/.gitignore
app/README.*
res
config.xml

# Ignore a potential jDrupal folder
jDrupal

# Ignore jQM Theme Roller Files
bin/themes/images
bin/themes/*.css

# Ignore tools
tools/*

