index.html
cordova*js
app/modules/*
app/themes/*
app/js/app.js
app/.gitignore
app/README.*
res
config.xml
npm-debug.log

# Ignore a potential jDrupal folder
jDrupal

# Ignore jQM Theme Roller Files
bin/themes/images
bin/themes/*.css

# Ignore tools
tools/*

logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store
bower_components/

