cordova*js
app/modules/*
app/themes/*
app/settings.js
app/.gitignore
app/README.*
node_modules
res
config.xml

# Ignore a potential jDrupal folder
jDrupal
jdrupal.min.js
jdrupal.js

# Ignore jQM Theme Roller Files
bin/themes/images
bin/themes/*.css

tools/*

.drupalgap-backups

